
{% extends "base.html" %}

{% block main_content %}
    <div class="container justify-content-center align-items-center" style="min-height: 100vh;">
        <a class="navbar-brand" href="#"><img src="{% static 'imagenes/logonuevo.png' %}" alt="" size="200" height="200" /></a>
        <h2>Confirmación de Registro</h2>
        <p>Tu registro ha sido confirmado exitosamente. recibiras un mail de activacion de tu cuenta</p>
    
        <p>ante cualquier duda consulta con el equipo de Salud Digital</p>
    
    </div>
   
{% endblock %}