{% extends 'base.html' %}

{% block main_content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    </style>

    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'imagenes/logonuevo.png' %}" alt="" size="200" height="200" /></a>
        <h1>Recuperar Contraseña</h1>
        <p>Para cambiar sus credenciales, por favor envíe un correo a <strong>saluddigitalona@gmail.com</strong> y se restablecerán las mismas.</p>
    </div>
{% endblock %}