{% extends "base.html" %} {% block main_content %}
<div class="container">
  <h2>Detalle del Teleseguimiento</h2>
  <p>
    <strong>Paciente:</strong> {{ teleseguimiento.paciente.nombre_completo }}
  </p>
  <p><strong>Telefono:</strong> {{ teleseguimiento.paciente.telefono }}</p>
  <p>
    <strong>Fecha de Solicitud:</strong> {{ teleseguimiento.fecha_solicitud }}
  </p>
  <p><strong>Descripción:</strong> {{ teleseguimiento.descripcion }}</p>
  <p><strong>Condición:</strong> {{ teleseguimiento.condicion }}</p>
  <p>
    <strong>Consentimiento:</strong>
    {{ teleseguimiento.consentimiento_seguimiento }}
  </p>
  <p><strong>Estado:</strong> {{ teleseguimiento.estado }}</p>

  <h3>Seguimientos</h3>
  <ul>
    {% for seguimiento in seguimientos %}
    <li>
      {{ seguimiento.fecha }} - {{ seguimiento.descripcion }} - {{
      seguimiento.estado }}
    </li>
    {% endfor %}
  </ul>

  <a
    href="{% url 'teleenfermeria:crear_seguimiento' teleseguimiento.id %}"
    class="btn btn-primary"
    >Agregar Seguimiento</a
  >
</div>
{% endblock %}
