{% extends "base.html" %} {% block main_content %}

<div class="container mt-4">
  <h2 class="mb-4">Mis Derivaciones Teleseguimientos</h2>
  <form method="GET" action="{% url 'teleenfermeria:misderivados' %}">
    <div class="row mb-3">
      <div class="col-md-8">
        <input type="text" name="q" class="form-control" placeholder="Buscar por DNI o Apellido"
          value="{{ query|default:'' }}" />
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary w-100" type="submit">Buscar</button>
      </div>
    </div>
  </form>
  <table class="table table-striped">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Fecha de Solicitud</th>
          <th>Motivo de Consulta</th>

          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for teleseguimiento in teleseguimientos %}
        <tr
          class="{% if teleseguimiento.tiempo_espera and teleseguimiento.tiempo_espera.days >= 7 %}table-danger{% elif teleseguimiento.tiempo_espera and teleseguimiento.tiempo_espera.days >= 3 %}table-warning{% else %}table-success{% endif %}">
          <td>{{ teleseguimiento.paciente.nombre_completo }}</td>
          <td>
            {{ teleseguimiento.fecha_solicitud|default_if_none:"Sin Datos" }}
          </td>
          <td>{{ teleseguimiento.motivo_consulta }}</td>
          <td>
            <a href="{% url 'teleenfermeria:detalleteleseguimiento' teleseguimiento.id %}"
              class="btn btn-info btn-sm">Ver</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}