{% extends "base.html" %} {% block main_content %}

<div class="container mt-4">
  <h2 class="mb-4">Teleseguimientos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Fecha de Solicitud</th>
        <th>Motivo de Consulta</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for teleseguimiento in teleseguimientos %}
      <tr
        class="{% if teleseguimiento.tiempo_espera and teleseguimiento.tiempo_espera.days >= 7 %}table-danger{% elif teleseguimiento.tiempo_espera and teleseguimiento.tiempo_espera.days >= 3 %}table-warning{% else %}table-success{% endif %}"
      >
        <td>{{ teleseguimiento.paciente.nombre_completo }}</td>
        <td>
          {{ teleseguimiento.fecha_solicitud|default_if_none:"Sin Datos" }}
        </td>
        <td>{{ teleseguimiento.motivo_consulta }}</td>
        <td>
          <a
            href="{% url 'teleenfermeria:detalleteleseguimiento' teleseguimiento.id %}"
            class="btn btn-info btn-sm"
            >Ver</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
