{% extends 'base.html' %} {% block title %}Dashboard - Gestión de
Camas{%endblock %} {% block main_content %}

<style>
  .main-content {
    padding: 20px;
  }

  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin-bottom: 20px;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-header {
    background-color: #3498db;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .table {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    .main-content {
      padding: 10px;
    }
  }
</style>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Ocupación de Camas</h5>
        </div>
        <div class="card-body">
          <div
            class="chart-container"
            style="position: relative; height: 60vh; width: 100%"
          >
            <canvas id="ocupacionChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function actualizarGrafico() {
    $.ajax({
      url: "{% url 'gestioncamas:obtener_ocupacion' %}",
      method: "GET",
      success: function (data) {
        var ocupacionData = data.ocupacion_data;
        var labels = ocupacionData.map(function (item) {
          return item.servicio;
        });
        var ocupadas = ocupacionData.map(function (item) {
          return item.ocupadas;
        });
        var libres = ocupacionData.map(function (item) {
          return item.libres;
        });

        ocupacionChart.data.labels = labels;
        ocupacionChart.data.datasets[0].data = ocupadas;
        ocupacionChart.data.datasets[1].data = libres;
        ocupacionChart.update();
      },
    });
  }

  var ctx = document.getElementById("ocupacionChart").getContext("2d");
  var ocupacionChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: [],
      datasets: [
        {
          label: "Camas Ocupadas",
          data: [],
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 2,
        },
        {
          label: "Camas Libres",
          data: [],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgba(54, 162, 235, 1)",
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
        },
      },
      plugins: {
        legend: {
          position: "top",
        },
        title: {
          display: true,
          text: "Ocupación de Camas por Servicio",
        },
      },
    },
  });

  // Actualizar el gráfico cada 5 segundos
  setInterval(actualizarGrafico, 50000);
  // Actualizar el gráfico al cargar la página
  actualizarGrafico();

  // Redimensionar el gráfico cuando cambia el tamaño de la ventana
  window.addEventListener("resize", function () {
    ocupacionChart.resize();
  });
</script>

{% endblock %}
